examples/.ipynb_checkpoints/*
examples/__pycache__/*
mlruns/*
artifacts_temp/*
__pycache__/*
.ipynb_checkpoints/*
examples/artifacts_temp/*
examples/*.py
examples/mlruns/*
examples/plot_training_process.ipynb